.counter-app {
    text-align: center;
    margin-top: 30%;
    font-family: 'Arial', sans-serif;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}
  

  h1 {
    color: #333;
  }
  
  p {
    font-size: 1.5em;
    color: #555;
  }
  
  button {
    font-size: 1em;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  
 
  